<!-- views/login.handlebars -->
<section class="login">
    <div class="form-container">
        {{!-- <form class="login-form" action="/login" method="POST"> --}}
        <form class="login-form">
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-input" type="text" id="email-login" required>
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
</section>

<script src="./js/login.js"></script>
