<!-- views/login.handlebars -->
<section class="login">
    <div class="form-container">
        {{!-- <form class="login-form" action="/login" method="POST"> --}}
        <form class="login-form">
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input type="email" id="email-login" name="email" required>
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</section>

<script src="./js/login.js"></script>
{{!-- <script src="../public/js/login.js"></script> --}}
