<section class="container">
  <h3 class="User-name">{{User.name}}</h3>
  <!-- Using a custom helper 'format_time', the time has been formatted -->
  <h4>Last updated: {{format_time}}</h4>
  <section class="flex-row justify-center">
    {{!-- {{#each gallery.paintings as |painting|}} --}}
    {{#each User.login as |login|}}
    {{#if login}}
    {{> login-details}}
    {{/each}}
  </section>
</section>

<!-- 13 views/gallery handlebars + models/gallery.js for reference -->