* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial;
<<<<<<< HEAD
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


  .container {
    display: flex;
   text-align: center;
   flex: auto;
  }  

=======
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  .container {
    display: flex;
    text-align: center;
    flex: auto;
  }  
  
>>>>>>> main
  .logo {
    display: flex;
    margin: -75px auto;
    margin-top: 0;
  }
<<<<<<< HEAD

=======
  
>>>>>>> main
  input {
    display: flex;
    text-align: center;
    width: 400px;
    height: 30px;
    margin-bottom: 15px;
<<<<<<< HEAD
    
=======
  
>>>>>>> main
  }
  .searchform {
    display: flex;
    text-align: center;
    margin: 0px auto;
  }
<<<<<<< HEAD

  a {
    text-decoration: none;
  }

=======
  
  a {
    text-decoration: none;
  }
  
>>>>>>> main
  p {
    font-family: arial;
    font-size: 9pt;
  }
<<<<<<< HEAD

=======
  
>>>>>>> main
  .footer a{
    color: #757575;
    padding: 5px;
    font-size: 10pt;
<<<<<<< HEAD
  }

=======
    }
  
>>>>>>> main
  footer {
    background: #f2f2f2;
    font-family: arial;
    font-display: #757575;
    padding: 5px;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: -5px;
  }
<<<<<<< HEAD
=======
  
>>>>>>> main
  .footer::after {
    display: block;
    clear: both;
    content: "";
    height: 0;
    overflow: hidden;
  }
<<<<<<< HEAD
  .footer-left {
    float: left;
  }
  .footer-right {
    float: right;
  }

  .brand-logo {
    width: 300px;
  }
=======
  
  .footer-left {
    float: left;
  }
  
  .footer-right {
    float: right;
  }
  
  .brand-logo {
    width: 300px;
  }
  
>>>>>>> main
  .buttons {
    margin-bottom: 60px;
    text-align: center;
  }
<<<<<<< HEAD
=======
  
>>>>>>> main
  button {
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    margin: 10px;
    color: #757575;
    font-size: 10pt;
    font-weight: bold;
    font-family: arial;
    border-radius: 2px;
    box-shadow: #757575;
  }
<<<<<<< HEAD
  a:hover {
    text-decoration: underline;
  }
=======
  
  a:hover {
    text-decoration: underline;
  }
  
>>>>>>> main
  button:hover {
    color: teal;
    border: 1px solid #d9d9d9;
  }