* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


  .container {
   text-align: center;
   flex: auto;
  }  

  .logo {
    display: block;
    margin: -100px auto;
    margin-top: 0;
  }

  input {
    
    width: 400px;
    height: 30px;
    margin-bottom: 15px;
    
  }
  .searchform {
    text-align: center;
    margin: 0px auto;
  }

  a {
    text-decoration: none;
  }

  p {
    font-family: arial;
    font-size: 9pt;
  }

  .footer a{
    color: #757575;
    padding: 5px;
    font-size: 10pt;
  }

  footer {
    background: #f2f2f2;
    font-family: arial;
    font-display: #757575;
    padding: 5px;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: -5px;
  }
  .footer::after {
    display: block;
    clear: both;
    content: "";
    height: 0;
    overflow: hidden;
  }
  .footer-left {
    float: left;
  }
  .footer-right {
    float: right;
  }

  .brand-logo {
    width: 300px;
  }
  .buttons {
    margin-bottom: 60px;
    text-align: center;
  }
  button {
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    margin: 10px;
    color: #757575;
    font-size: 10pt;
    font-weight: bold;
    font-family: arial;
    border-radius: 2px;
    box-shadow: #757575;
  }
  a:hover {
    text-decoration: underline;
  }
  button:hover {
    color: teal;
    border: 1px solid #d9d9d9;
  }